html {
    height: 100%;
}

body {
    background:linear-gradient(#615dad,#ffc8da);
    height: 130%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.obal {
padding-top: 50px;
padding-bottom: 50px;
margin: 0 auto;
display: flex;
flex-direction: column;
width:460px;


}
.obal-hra {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width:80vmin;
  height: 80vmin;

  }
.tlacitka-hra{
display:flex;
flex-direction: row;
justify-content: flex-end;
}
.horni-wrap{
  display:flex;
  flex-direction: row;
  justify-content:space-between;

}
h1 {

    font-family: Lobster;
    font-size: 45px;
    color:white;
    line-height: 22px;
    font-weight: 500;


}
h2{

  color:white;
  font-weight: 500;

}


.zacithrat{

color:white;
text-decoration: none;
background-color:#0197f6 ;
height: 50px;
font-family: arial;
display: flex;
justify-content: center;
align-items: center;


}
.restart-button{

  color:white;
  text-decoration: none;
  background-color:#0197f6 ;
  height: 40px;
  width: 40px;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:5px;
  border-radius: 5px 5px 5px 5px;
  }
.pravidla{

    color:white;
    text-decoration: none;
    background-color: #1fcca4;
    height: 50px;
    font-family: arial;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;


}
.home-button{

  color:white;
  text-decoration: none;
  background-color: #1fcca4;
  height: 40px;
  width:40px;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 5px 5px;


}

.text{
   background-color: #283e50;
   text-align: center;

}                       /*tady by se to mohlo propojit*/
.text2{
    background-color: #283e50;
    border-radius: 8px 8px 0 0;

 }
 .nadpis{
    background: transparent;
    text-align:center;

 }
p{
    color:white;
    font-family: arial;
    font-size: 16px;
   padding: 15px;
    width:80%;
    margin:0 auto;


}
li{

    color:white;
    font-family: arial;
    font-size: 16px;
   padding: 10px;
    width:90%;
    margin:0 auto;
}
.pravidla:hover {
    background-color: #1cbb96;
  }
  .zacithrat:hover {
    background-color: #0090e9;
  }
  .home-button:hover {
    background-color: #1cbb96;
  }
  .restart-button:hover {
    background-color: #0090e9;
  }
  .img1{
    border-radius: 8px 8px 0 0;
  }

  .obal-obrazky {
/*max-width: 400px;*/
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: space-evenly;

  }
  .img-pravidla{

    width: 200px;
    margin: 0 auto;
    /*height:150px;*/

  }
  figcaption{
    color:white;
    font-family: arial;
    font-size: 13px;
    text-align: center;
    padding-bottom:15px;
  }
button{
width:8vmin;
height:8vmin;
/*padding-bottom: 9.86%;*/
background: #ffffff61;
border-width: 1px;
padding-top: 0px;
cursor: pointer;
/*border-bottom: thin;*/
}
button:hover{
  background: #ffffff2e;
}
.piskvorky{
  width: 100%;
    height: 100%;
display:flex;
flex-direction:row;
justify-content: space-evenly;
align-content: center;
align-items: center;
flex-wrap:wrap;
margin-top: 50px;
}
  @media only screen and (max-width: 530px) {
    .obal-obrazky {
      flex-direction: column; /*tohle je zde zbytenčné*/
    }
    .obal{
        width:300px;
    }
    .button {
      /*padding-bottom: 9.67%;*/
    }
  }
